.email-client-container{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap:10px;
}
.email-one{
  grid-template-columns: 1fr;
}

.email-list-container{
  /* border: 1px solid teal; */
  padding:10px;
}
.email-body-container{
  margin: 1rem auto;
  border-radius: 6px;
  background: #f4f5f9;
  border: 1px solid #cfd2dc;
  color: #636363;
  padding: 1rem 1rem 1rem 2rem;
  width: 90%;
  max-width: 100%;
}